# HW1

In [7]:
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel, t, sem
import numpy as np
from math import sqrt

## PROBLEMS 5+6

In [8]:
df = pd.DataFrame({'Before': [31, 34.1, 38.8, 33.5, 31.3, 31, 32.8, 32.5, 26.8, 30.9, 33.2, 32.3, 30.9, 36.1, 27.3, 32, 30.7, 26.5],
                  'After': [27, 27.3, 31.5, 26.7, 36.3, 34.8, 32.2, 29.4, 30.2, 29.3, 32.4, 31.9, 31.9, 30.4, 32.1, 29.9, 31.5, 27.8]})
df

    Before  After
0     31.0   27.0
1     34.1   27.3
2     38.8   31.5
3     33.5   26.7
4     31.3   36.3
5     31.0   34.8
6     32.8   32.2
7     32.5   29.4
8     26.8   30.2
9     30.9   29.3
10    33.2   32.4
11    32.3   31.9
12    30.9   31.9
13    36.1   30.4
14    27.3   32.1
15    32.0   29.9
16    30.7   31.5
17    26.5   27.8

In [9]:
df['Difference'] = df['Before'] - df['After']
df

    Before  After  Difference
0     31.0   27.0         4.0
1     34.1   27.3         6.8
2     38.8   31.5         7.3
3     33.5   26.7         6.8
4     31.3   36.3        -5.0
5     31.0   34.8        -3.8
6     32.8   32.2         0.6
7     32.5   29.4         3.1
8     26.8   30.2        -3.4
9     30.9   29.3         1.6
10    33.2   32.4         0.8
11    32.3   31.9         0.4
12    30.9   31.9        -1.0
13    36.1   30.4         5.7
14    27.3   32.1        -4.8
15    32.0   29.9         2.1
16    30.7   31.5        -0.8
17    26.5   27.8        -1.3

In [10]:
diff_avg = df['Difference'].mean()
diff_var = df['Difference'].var()
diff_std = df['Difference'].std()
print("Average:", diff_avg)
print("Variance:", diff_var)
print("Standard Deviation:", diff_std)

Average: 1.0611111111111113
Variance: 15.829575163398689
Standard Deviation: 3.9786398634959017

In [19]:
group1 = df['Before']
group2 = df['After']
ttest_rel(group1, group2, alternative='two-sided')

TtestResult(statistic=1.1315206522860977, pvalue=0.2735458685436248, df=17)

In [12]:
t.interval(confidence=0.99, df=df['Difference'].count()-1, loc=diff_avg, scale=diff_std/sqrt(df['Difference'].count()))

(-1.656775301949379, 3.7789975241716016)

## PROBLEMS 2+3

In [13]:
df2 = pd.DataFrame({'SunGrow': [42.2, 43.6, 41.1, 41.5, 43.9, 40.4, 41.3, 43.6, 42.9, 42.3],
                   'Control': [39.5, 38.2, 39.6, 40.1, 38.9, 39.1, 38, 33.8, 39.8, 36.7]})
df2

   SunGrow  Control
0     42.2     39.5
1     43.6     38.2
2     41.1     39.6
3     41.5     40.1
4     43.9     38.9
5     40.4     39.1
6     41.3     38.0
7     43.6     33.8
8     42.9     39.8
9     42.3     36.7

In [14]:
sungrow_mean = df2['SunGrow'].mean()
sungrow_var = df2['SunGrow'].var()
control_mean = df2['Control'].mean()
control_var = df2['Control'].var()
print("Sungrow Mean:", sungrow_mean,
     "\nSungrow Variance:", sungrow_var,
     "\nControl Mean:", control_mean,
     "\nControl Variance:", control_var)

Sungrow Mean: 42.28
Sungrow Variance: 1.4440000000000008
Control Mean: 38.370000000000005
Control Variance: 3.6090000000000018

In [15]:
print(control_var/sungrow_var)

2.4993074792243766

In [18]:
sungrow = df2['SunGrow']
control = df2['Control']
ttest_ind(sungrow, control, equal_var=False, alternative = 'greater')

Ttest_indResult(statistic=5.500499230711438, pvalue=2.902733933491102e-05)

In [17]:
t.interval(confidence=0.90, df=15, loc=sungrow_mean-control_mean, scale=sqrt((sungrow_var/sungrow.count()+control_var/control.count())))

(2.663853677046811, 5.156146322953182)

In [20]:
t.sf(abs(2.35), df=63)*2

0.02191933531948549

In [21]:
t.interval(confidence=0.95, df=63, loc=18.9-17.8, scale=sqrt(2.52*(1/50 + 1/15)))

(0.16610980371219997, 2.0338901962877958)